* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    background-size: cover;
    background-attachment: fixed;
}

.nav-logo {
    height: 50px;
    width: 110px;
}

.logo {
    background-image: url("images/collegeLogo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.newUpdate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 50px;
    width: 650px;
    margin-left: 370px;
}

.new-sig button {
    border: none;
    padding: 15px 25px;
    background-color: rgb(128, 128, 241);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500px;
    margin-left: 30px;
}

.sign-up button {
    padding: 10px 15px;

    border-color: rgb(128, 128, 241);
    font-size: 20px;
    font-weight: 500px;
    color: rgb(128, 128, 241);
    border-radius: 5px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-weight: 800px;
    font-size: 17px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    width: 100%;
    background-color: rgb(254, 254, 255);
}

.right {
    height: 500px;
    width: 500px;

}

.co-founder {
    background-image: url("images/coFounder.jpg");
    background-size: cover;
    height: 500px;
    width: 500px;
}

.heading {
    height: 500px;
    width: 600px;
    font-size: 60px;
    margin-top: 100px;
    gap: 100px;
    font-weight: 700;

}

.heading span {
    color: rgb(128, 128, 241);
}

.heading button {
    background-color: rgb(128, 128, 241);
    padding: 20px 40px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    gap: 100px;
    border: none;
    margin-top: 50px;
    border-radius: 5px;
}

/* second portion */

.bluePic {
    background-image: url("images/blueImg.jpg");
    background-size: cover;
    height: 180px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    color: white;

}

.title h2 {
    padding-top: 30px;
    padding-left: 30%;
}

.mid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 50px; */
    font-size: 18px;
    padding-top: 25px;
    font-weight: 400;
}

.mid span {
    font-size: 25px;

    font-weight: 800;

}


/* third portion */
.thirdPor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 20px;
    font-weight: 500;
}

.mainLine {
    color: rgb(128, 128, 241);
    font-weight: 600;
}

.exp button {
    padding: 20px 35px;
    color: white;
    background-color: rgb(128, 128, 241);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
/* fourth portion */
.fourthPor{
    margin-top: 100px;
}
.allLogos {
    margin-left: 50px;

}
.dream{

    margin-left: 20%;
}
.dream span{
    color:rgb(128, 128, 241) ;
    font-weight: 800;
}
.allLogos img {
    height: 70px;
    padding: 30px;
}
.manymore{
    margin-left: 50%;
    color: rgb(153, 138, 138);
    font-size: 25px;
}
/* fifthportion */
.fifthPor{
    margin-top: 100px;
}
.fifthPor h1{
    margin-top: 10%;
    margin-left: 40%;
}
.selected-stu{
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.selected-stu img{
    margin-left: 70px;
    height: 400px;
    padding: 50px;
    color:rgb(128, 128, 241) ;

}

.seeMore button{
    padding: 15px 25px;
    background-color:rgb(128, 128, 241) ;
color: white;
margin-left: 50%;
font-size: 20px;
font-weight: 800;
border: none;
border-radius: 7%;
}
/* six portion */
.six-portion{
    margin-top: 10%;
}
.six-portion img{
    margin: 60px;
    height: 600px;
}
.six-portion h1{
    margin-left: 35%;
}
/* seventh portion */
.seventh-portion{
    margin: 5%;
 
}
.seventh-portion h1{
    margin-left: 41%;
}
.socialmedia{
    /* padding: 40px; */
    margin-top: 5%;
    gap: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialmedia i{
    margin-left: 25px;
}
.youtube i{
    color: red;
    font-size: 40px;
}
.insta i{
    margin-left: 50px;
    font-size: 40px;
color: rgb(224, 61, 148);
}
.tel i{
    font-size: 40px;
color: rgb(55, 55, 162);
}
.insta p{
    padding-left: 11%;
}
.socialmedia p{
    margin-left: 20px;
}

/* last portion */
.lastPortion{
   margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lastPortion h3{
    padding-bottom: 20px;
}
.lastPortion img{
    height: 80px;
}
ul {
gap: 8px;
padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: block;
    /* margin-top: 20px; */
}

ul a,i {
    display: block;
    margin-top: 10px;

    /* display: block;
    font-size: .85rem;
    color: #dddddd; */
}
.lastPortion img{
    margin-left: 20%;
}
.sourses{
    /* display: block; */
}
.Copyright{
    margin-left: 50%;
    margin-bottom: 5%;
}